<%= file_field_tag('trip_photos_attributes_file', multiple: true, name: "trip[photos][][file]") %>
<p class="help-block">You may upload up to 10 photos at a time. If you upload more than 10 photos, then only the first 10 are saved. Supported formats: .jpg, .jpeg, .png, .bmp</p>
 
