<div class="span2">
  <p>
    <% size = :medium %>
    <%= link_to image_tag(photo.image_url(size)), photo.image_url %> 
  </p>
  <p>
    <% unless photo.city.nil? %>
      <%= photo.city.name %>
      <% unless photo.city.country.nil? %>
        <%= ', ' + photo.city.country.name %>
      <% end %>
    <% end %>
  </p>
  <% if allow(@user) %>
    <%= link_to t('.edit', :default => t("Edit description")),
                edit_user_trip_path(@user,@trip), :class => 'btn btn-mini' %>
  <% end %>

</div>
